body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #e3f2fd;
}

.update-budget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../../public/assets/updateBudget.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.update-budget-card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.update-budget-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #590606;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.update-budget-form {
  display: flex;
  flex-direction: column;
}

.update-budget-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.update-budget-input:focus {
  border-color: #561d05;
  outline: none;
}

.update-budget-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.update-budget-button {
  padding: 10px 15px;
  background-color: #140556;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1rem;
}

.update-budget-button:hover {
  background-color: #3a0f8a;
  transform: translateY(-2px);
}

.cancel-button {
  padding: 15px 25px;
  background-color: #581003;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1rem;
}

.cancel-button:hover {
  background-color: #932211;
  transform: translateY(-2px);
}

.readonly-input {
  cursor: not-allowed;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #555;
  width: 100%;
  box-sizing: border-box;
}