.recovery-container {
  background: rgba(255, 255, 255, 0.1);
  background-image: url('../../../public/assets/passwordRecover.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

.recovery-form {
  background: rgba(255, 255, 255, 0.3);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 450px;
}

.recovery-form h2 {
  color: #040940;
  margin-bottom: 20px;
  font-size: 2rem;
}

.recovery-text {
  color: #000000;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.input-field {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.submit-button {
  margin: 20px 0;
  width: 50%;
  padding: 12px;
  background-color: #060a63;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Times New Roman', Times, serif;
}

.submit-button:hover {
  background-color: #2a2f8c;
}